.marginSpace(@marginSpace : 1.5em) {
  margin: @marginSpace 0 @marginSpace 0;
}

/* Primary styles */
body {overflow-x: hidden;}
li {list-style: none; .marginSpace}
.span2 {margin-top: -1.5%}

/* Main Structure */
#wrapper {text-align: center;}

/* Scoreinput */
#scoreinput {.marginSpace}