/* Reset */
* {
  margin: 0px;
  padding: 0px;
}

/* Main structure */
body {background: #cccccc;}
#wrapper {width: 75%; margin: 2% auto 0% auto; text-align: center;}

/* Text setups */
h1 {font-family: Georgia; text-shadow: 1px 1px 1px #FFF; margin: 0 0 2% 0;}
a {text-decoration: none;}

/* Classes*/
.btnSelection {background: #62af56; color: #fff; display: block; border-radius: 10px; margin: 2% 0 2% 0; padding: 0.5em; -webkit-transition: all 150ms;}
.btnSelection:hover {background: #76BF6B;}